<h2 id="title">Welcome to Ember</h2>

{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "signOut"}}>Sign out</button>
  {{#link-to 'application'}}Home{{/link-to}}
  {{#link-to 'people'}}People{{/link-to}}
  {{#link-to 'rounds'}}Rounds{{/link-to}}
  {{#link-to 'rounds.edit' 12345}}Edit{{/link-to}}
  {{outlet}}
{{else}}
  <button {{action "signIn"}}>Sign in</button>
  <button {{action "social" "facebook"}}>Sign in with Facebook</button>
  {{!-- <button {{action "signIn" "facebook"}}>Sign in with Facebook</button> --}}
{{/if}}

